# SPDX-FileCopyrightText: 2026 Exequiel Trujillo <exequiel.trujillo@ug.uchile.cl>
# SPDX-License-Identifier: GPL-3.0-or-later

# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
*.g.dart        # código generado por drift/build_runner (se regenera en build)
coverage/

# Android
android/.gradle/
android/local.properties
android/key.properties
*.keystore
*.jks

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
